.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.table-responsive {
    height: 600px !important;
    width: 75% !important;
    margin: 0 auto;
}

.table-responsive table {
    position: relative;
    border-collapse: collapse;
}

th {
    position: sticky;
    top: 0;
    background-color: white;
}

th,
tr {
    padding: 0.25rem;
}
